*
{
	margin:0;
}
@-webkit-keyframes miSlideIn{
0%{
margin-top: 150%;
}
60%{
margin-top: -5%;
}
100%{
margin-top: 0%;
}
}

body{
	background: #02010a;
	color: white;
	font-size: 16px;
	font-family: 'Dancing Script';
  
}
a:link   
{   
 text-decoration:none; 
 font-size: 16px;  
  
}

#contenido{
	width: 980px;
	margin: 0 auto;
  min-height: 200px;
}

header{
	
	
  background: #5b7989;
  border-radius: 10px 10px 0 0;
  text-shadow: 2px 2px #02010a;
  padding: 15px 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  animation: miSlideIn 1s;
}
#tituloCabecera{
  width: 70%;
  text-indent: 15px;
}
#menuCabecera{
  width: 30%;
  font-size: 18pt;
}
#menuCabecera a, #menuCabecera a:hover{
  color: #fff;
  padding: 5px 10px;
}

#menuCabecera a + a::before {
  color: #fff;
  text-decoration: none;
}
#menuCabecera .actual{
  text-decoration: none;
}

#central{
  background: #82c3a6;
  padding: 20px;
  
}

.imgcentral{
	
	 	-webkit-filter:drop-shadow( 2px 2px #000);
 	filter: drop-shadow( 2px 2px #000);
	

}

img{
  width: 100%;
}
#secundaria{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #d5c75f;
  min-height: 100px;
  padding: 20px 0;
}
.imgSecundaria{
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 15px;
}
.columnaSeccundaria{
  width: 33.33%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}
.imgPaisaje{
  border: 2px solid black;
  -webkit-filter:drop-shadow(3px 3px 6px #82c3a6);
  filter: drop-shadow(3px 3px 6px #82c3a6);
  transition: transform 2s;
}


.retratos{
	
	
}



.retratos ul{
	
	
	float:center;
	margin:20px;
	font-size:142%; 

	
}



.retratos li{
	
	display:inline;	
	list-style-type:none;
	
	
}

.retratos a {
	color:#000;

}

.retratos a:hover {
	text-decoration:none;

}

.paisajes{
	
	
}



.paisajes ul{
	
	
	
	margin:20px;
	font-size:142%; 

	
}


.paisajes a {
	color:#000;

}



.paisajes li{
	
	display:inline;	
	list-style-type:none;
	
	
}



.paisajes a:hover {
	text-decoration:none;

}

.imgPaisaje:hover{
  transform: rotate(10deg);
}
.imgRetrato{
  border: 2px solid black;
  -webkit-filter:drop-shadow(3px 3px 6px #82c3a6);
  filter: drop-shadow(3px 3px 6px #82c3a6);
  transition: transform 2s;
}
.imgRetrato:hover{
  transform: translate(20px, -5px);
}

footer{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background-color: #C6d5c5;
  padding: 15px 0;
  color: #000;
  border-radius: 0 0 10px 10px;
  
}
footer .columna{
  width: 24%;
  box-sizing: border-box;
  padding: 0 15px;
}
.icon-social{
  width: 15px;
}

.img1{
  -webkit-filter:blur(10px);
}
.img2{
  -webkit-filter:grayscale(100%);
}
.img3{
  -webkit-filter:sepia(90%);
}
.img4{
  -webkit-filter:grayscale(100%);
}
.img5{

}
.img6{
  -webkit-filter:grayscale(100%);
}

@media screen and (max-width: 1000px){
	#contenido{
		width: 100%;
		margin: 0 auto;
	}
  #menuCabecera, #tituloCabecera{
    width: 100%;
    text-align: center;
  }
  .imgSecundaria{
    width: 100%;
  }
  .columnaSeccundaria{
    width: 100%;
  }
  footer .columna{
    width: 100%;
  }
}